        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #eaf4f7;
        }

     

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 2rem;
        }

        .card {
            background-color: #eaf4f7;
            border-radius: 8px;
            margin: 1rem;
            padding: 1.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            flex: 1 1 300px;
            transition: transform 0.3s;
            text-align: center;
        }

        .card:hover {
            transform: scale(1.02);
        }

        .progress {
            background-color: #e0e0e0;
            border-radius: 8px;
            overflow: hidden;
            height: 20px;
            margin: 1rem 0;
        }

        .progress-bar {
            width: 70%;
            background-color: #28a745;
            height: 100%;
            transition: width 0.3s;
        }

        .btn-link {
            display: inline-block;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
            background-color: #4c75cf;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        .btn-link:hover {
            background-color: #33b4a4;
        }
   