/* Fontes Poppins */
@font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
    font-weight: 700;
}

/* Fontes Montserrat */
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}

/* Definições básicas para todo o site */
body, html {
    height: 100%;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* Containers principais */
.container-login, .container-cadastro {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    padding: 0;
    overflow: hidden;
}

/* Layout do formulário */
.wrap-login, .wrap-cadastro {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Tela de Login */
.login-more {
    width: 50%;
    height: 100vh;
    background-image: url('../img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

/* Formulário de login */
.login-form {
    width: 50%;
    background-color: #f7f7f7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/* Formulário de cadastro */
.cadastro-tela {
    width: 50%;
    background-color: #f7f7f7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/* Estilos para telas menores */
@media (max-width: 992px) {
    .login-form, .login-more, .cadastro-form {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .login-more {
        display: none;
    }

    .login-form, .cadastro-form {
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .input, .form-btn {
        font-size: 14px;
        padding: 10px;
    }

    .login-form, .cadastro-form {
        padding-top: 70px;
    }
}

/* Estilos dos inputs */
.input {
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    width: calc(100% - 30px);
    margin: 10px 0;
}

/* Botão do formulário */
.form-btn {
    font-size: 14px;
    padding: 10px 20px;
    background: #6675df;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Estilos de validação */
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px;
    top: 50%;
    right: 12px;
    font-family: Poppins, sans-serif;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s;
}

/* Títulos e textos */
.form-title {
    font-family: Poppins;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}

/* Labels dos inputs */
.label-input {
    font-family: Montserrat;
    font-size: 18px;
    color: #999;
    line-height: 1.2;
    position: absolute;
    pointer-events: none;
    padding-left: 24px;
    top: 30px;
    transition: all .4s;
}

/* Texto adicional */
.txt1, .txt2 {
    font-family: Montserrat;
    font-size: 13px;
    line-height: 1.4;
}

.txt1 {
    color: #555;
}

.txt2 {
    color: #999;
}

/* Checkbox */
.input-checkbox {
    display: none;
}

.label-checkbox {
    font-family: Poppins;
    font-size: 13px;
    color: #999;
    padding-left: 26px;
    cursor: pointer;
}

/* Ícone do checkbox */
.label-checkbox::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #6675df;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Botões sociais */
.form-social-item {
    width: 36px;
    height: 36px;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
}

.form-social-item:hover {
    background: #333;
}

/* Estilos para inputs e textarea */
input, textarea {
    outline: none;
    border: none;
}

/* Placeholder em foco */
input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}

/* Placeholder padrão */
input::placeholder, textarea::placeholder {
    color: #999;
}

/* Botões e links */
button {
    outline: none;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

a {
    font-family: Poppins;
    font-size: 14px;
    color: #666;
    transition: color .4s;
}

a:hover {
    color: #6675df;
}
