:root {
  --background-color: #f0f4f8; /* Cor de fundo */
  --text-color: #333; /* Cor do texto */
  --primary-color: #00796b; /* Cor primária */
  --secondary-color: #004d40; /* Cor secundária */
}

/* Estilo Geral */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Estilo dos Títulos */
h2 {
  margin: 20px 0;
  padding: 10px;
}

/* Estilo padrão para todos os botões */
button,
.fc-button {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Estilo para botões em hover */
button:hover,
.fc-button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
  color: #e0f2f1; /* Cor do texto ao passar o mouse */
}

/* Estilo para botões desativados */
button:disabled,
.fc-button:disabled {
  background-color: #b0bec5;
  color: #fff;
  cursor: not-allowed;
}

/* Estilo para o botão ativo */
.fc-button-active,
button.active {
  background-color: var(--secondary-color);
}

/* Estilo dos Inputs */
.modal-body input,
.modal-body select {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s;
}

.modal-body input:focus,
.modal-body select:focus {
  border-color: var(--secondary-color);
  outline: none;
}

/* Estilo do Modal */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
}
.fc-toolbar-title {
  font-size: 1.8rem; /* Tamanho da fonte do título */
  color: red; /* Cor do texto (um tom de azul-escuro) */
  text-align: center; /* Centraliza o texto */
  margin: 20px 0; /* Espaçamento superior e inferior */
  padding: 10px; /* Espaço interno ao redor do texto */
  background-color: #ecf0f1; /* Cor de fundo suave (cinza claro) */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilo específico para o id (opcional) */
#fc-dom-1 {
  font-weight: bold; /* Texto em negrito */
  text-transform: uppercase; /* Transforma o texto em letras maiúsculas */
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .modal {
      width: 90%;
  }

  button {
      padding: 10px;
  }
}
